<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "stt" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Menu", "#", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Restaurante", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nosotros", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
